.header_down,
.title_1,
.sec_2_title,
.con_wrap_2,
footer { 
    padding: 0 100px;
}

.section_2,
.con_3,
.section_4,
.section_6{
    padding-top: 150px;
}


@media screen and (max-width: 768px){

    .header_down,
    .title_1,
    .sec_2_title,
    .con_wrap_2,
    .mo_con_wrap_2,
    .mo_bg_3,
    .sub_title_5,
    footer { 
        padding: 0 20px;
    }

    
    .section_2,
    .con_3,
    .section_4,
    .section_5,
    .section_6{
        padding-top: 80px;
    }
}