.header_down,
.title_1,
.sec_2_title,
.con_wrap_2,
footer { 
    padding: 0 100px;
}


@media screen and (max-width: 768px){

    .header_down,
    .title_1,
    .sec_2_title,
    .con_wrap_2,
    .mo_con_wrap_2,
    footer { 
        padding: 0 20px;
    }

    
    .section_2,
    .con_3,
    .section_4,
    .section_5,
    .section_6{
        padding: 80px 0;
    }
}