@import url(reset.css);
@import url(common.css);

header{
    width: 100%;
    position: fixed;
    z-index: 100;
    /* font-family: "Istok Web", sans-serif; */
}

.header_up {
    height: 40px;
    /* background-color: #d40047; */
    background-color: #d41935;
}

.header_up p { 
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-align: center;
    letter-spacing: -2px;
    line-height: 40px;
}

.header_down {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo img{
    width: 50px;
}

ul{
    width: 510px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 135px;
}

li a{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1px;
    color: #d41935;
}

.header_icons{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header end */

.section_1{
    height: 110vh;
}

.sec_1_bg{
    padding-top: 120px;
    position: relative;
}

.title_1{
    position: absolute;
    top: 630px;
    left: 0;
    z-index: 20;
}

.left_btn{
    width: 300px;
    position: absolute;
    top: 758px;
    right: 140px;
    z-index: 20px;
    transition: 0.5s;
}

.left_btn:hover{
    right: 110px;
}

/* sec_1 ing */

.section_2{
    padding-top: 150px;
}

.sec_2_title h3{
    font-family: "Belanosima", sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: #1d1d1d;
}

.sec_2_title p{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -3px;
    line-height: 45px;
    color: #1d1d1d;
    opacity: 0.7;
    margin-top: 20px;
}

.sub_title_2{
    display: flex;
    justify-content: space-between
}

.btn_2{
    width: 229px;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    
}

.women{
    width: 119px;
    height: 40px;
    /* border: 1px solid rgba(29, 29, 29, 0.5); */
    border: 1px solid #1d1d1d;
    border-radius: 50px;
    opacity: 0.5;
    font-size: 20px;
    letter-spacing: -2px;
    text-align: center;
    line-height: 40px;
    color: #1d1d1d;
}

.men{
    width: 90px;
    height: 40px;
    border: 1px solid #1d1d1d;
    border-radius: 50px;
    opacity: 0.5;
    font-size: 20px;
    letter-spacing: -2px;
    text-align: center;
    line-height: 40px;
}

.women:hover{
    background-color: #d41935;
    border: unset;
    color: white;
    opacity: 1;
}

/* ----con_2------ */


.swiper-slide {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.con_wrap_2{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.con_2{
    font-family: "Noto Sans KR", sans-serif;
    color: #1d1d1d;
    font-weight: 700;
    letter-spacing: -1px;
}

.con_2 img{
    width: 370px;
}

.con_title_2{
    margin-top: 30px;
}

.con_title_2 h4{
    font-size: 18px;
    opacity: 0.7;
}

.con_title_2 p{
    margin-top: 20px;
    font-size: 20px;   
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-size: 60px;
  --swiper-navigation-sides-offset: 0;
  --swiper-navigation-color: #d41935;
}


/* sec_2 ing */

.con_3{
    padding-top: 150px;
    position: relative;
}

.bg_3{
    width: 100%;
    height: 822px;
    background-color: #d41935;
    margin-top: 117px;
}

.bg_3 h3{
    font-family: "Belanosima", sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: #fff;
    padding-top: 80px;
    padding-left: 1546px;
}

.yoga_1{
    width: 548px;
    position: absolute;
    top: 267px;
    left: 0;
}

.yoga_2{
    width: 626px;
    position: absolute;
    top: 150px;
    left: 286px;
}

.title_3{
    display: flex;
    justify-content: space-between;
}

.sub_title_3{
    padding-top: 360px;
    padding-left: 824px;
    font-family: "Noto Sans KR", sans-serif;
}

.sub_title_3 h4{
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    letter-spacing: -5px;
}

.sub_title_3 p{
    font-size: 35px;
    font-weight: 300;
    color: #fff;
    line-height: 42px;
    letter-spacing: -5px;
    margin-top: 10px;
}

.more_btn{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 80px;
    letter-spacing: -1px;
    color: #d41935;
    background-color: #fff;
    width: 250px;
    height: 80px;
    border-radius: 50px;
    margin-right: 100px;
    margin-top: 437px;
}

/* sec_3 end */

.section_4{
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
}


.con_left_4 h3{
    font-family: "Belanosima", sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: #1d1d1d;
    padding-left: 100px;
}

.con_left_4 p{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -3px;
    line-height: 45px;
    color: #1d1d1d;
    opacity: 0.7;
    margin-top: 20px;
    padding-left: 100px;
}

.btn_4{
    width: 396px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 100px;
}

.accessory{
    width: 147px;
    height: 40px;
    /* border: 1px solid rgba(29, 29, 29, 0.5); */
    border: 1px solid #1d1d1d;
    border-radius: 50px;
    opacity: 0.5;
    font-size: 20px;
    letter-spacing: -2px;
    text-align: center;
    line-height: 40px;
    color: #1d1d1d;
}

.bg_4 img{
    width: 700px;
    margin-top: 200px;
}

.con_right_4{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    row-gap: 30px;
    column-gap: 20px;
    padding-left: 120px;
    padding-right: 100px;
    margin-bottom: 80px;
}

/* 
.con_4 img{
    width: 415px;
} */


/* sec_4 ing */


.section_5{
    padding-top: 60px;
    position: relative;
}

.bg_5 h3{
     font-family: "Bebas Neue", sans-serif;
     font-size: 200px;
     font-weight: 400;
     line-height: 160px;
     letter-spacing: -5px;
     position: absolute;
     top: 240px;
     left: 810px;
}

.sub_title_5{
    position: absolute;
    bottom: 42px;
    right: 100px;
}

.btn_5{
    width: 163px;
    margin-bottom: 40px;
    margin-left: 394px;
}

.sub_title_5 p{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -6px;
    color: #fff;
    text-align: right;
}

.sub_title_5 span{
    font-weight: 700;
    color: #1d1d1d;
}

/* sec_5 end */

.section_6{
    padding-top: 150px;
}

.section_6 h3{
    font-family: "Belanosima", sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: #1d1d1d;
    padding-left: 100px;
}

.sec_6{
    margin-top: 60px;
}

/* sec_6 end */

footer{
    margin-top: 300px;
    height: 360px;
    background-color: #d41935;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

.footer_title h3,
.footer_sub h3{
    font-family: "Belanosima", sans-serif;
    font-size: 100px;
    font-size: 400;
    letter-spacing: -3px;
    color: #fff;
    padding-top: 60px;
}

.officehours{
    display: flex;
    justify-content: space-between;
}

.korea h3,
.korea p,
.hours h3{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 20px;
    color: #fff;
}

.hours{
    text-align: right;
}

.korea p,
.hours p{
    margin-top: 10px;
}

.hours p{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.footer_title img{
    width: 250px;
    margin-top: 50px;
}

.footer_sub h4{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -2px;
    line-height: 20px;
    margin-top: 60px;
    margin-right: 5px;
    text-align: right;
}

.sns{
    width: 134px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 430px;
    text-align: right;
}

.sns img{
    width: 32px;

}